{% extends "main.html" %}

{% set years = [] %}
{% for post in posts %}
  {% for categorie in post.config.categories %}
    {% set year = post.config.date.created.year %}
    {% if year not in years %}
      {% set _ = years.append(year) %}
    {% endif %}
  {% endfor %}
{% endfor %}

<!-- Page content -->
{% block container %}
  <div class="md-content" data-md-component="content">
    <div class="md-content__inner">

      <!-- Header -->
      <header class="md-typeset">
        {{ page.content }}

        <!-- Tags List -->
        <br>
        <h1>Categories</h1>
        <div class="custom_table">
          <table>
            <tbody>
              {% for year in years %}
                <tr>  
                  <td><a href="{{ year  }}">{{ year }}</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </header>  
    </div>
  </div>
{% endblock %}