{% extends "main.html" %}

{% set tags = [] %}
{% for post in posts %}
  {% for categorie in post.config.categories %}
    {% if categorie.lower() not in tags %}
      {% set _ = tags.append(categorie.lower()) %}
    {% endif %}
  {% endfor %}
{% endfor %}

<!-- Page content -->
{% block container %}
  <div class="md-content" data-md-component="content">
    <div class="md-content__inner">

      <!-- Header -->
      <header class="md-typeset">
        {{ page.content }}

        <!-- Tags List -->
        <br>
        <h1>Categories</h1>
        <div class="custom_table">
          <table>
            <tbody>
              {% for tag in tags %}
                <tr>  
                  <td><a href="{{ tag }}">{{ tag }}</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </header>  
    </div>
  </div>
{% endblock %}